#video-container {
	width: 100%;
	height: 100%;
	position: relative;
        margin-right: auto; 
         margin-left: auto; 
}
.video-size {
	width: 100%;
	height: 100%; 
}


#video-container:hover #video-controls {
	opacity: .9;
}

button {
	background: rgba(0,0,0,.5);
	border: 0;
	color: #EEE;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

button:hover {
	cursor: pointer;
}

